@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary: #ff5400;
  --primary-20: #fbb56333;
  --primary-5: #fbb5630d;
  --dark: #131318;
  --dark-70: #131318b2;
  --dark-5: #1313180d;
  --gray: #5a5a5d;
  --blue-20: #29cef633;
  --blue-5: #29cef60d;
  --light: #fff;
  --light-80: #ffffffcc;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
}

.container {
  max-width: 1190px;
  margin: auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
